{% extends 'base.php' %}

{% block content %}
<!-- Content is swaped depending on URL end -->
  <div id="content-info">
   <img src="../static/landingpage/media/me.jpg" class="circle responsive-img page-img" align="center" alt="photo of Alexander" style="height:50%; width:50%;" id="desktop-img mob-img"/>
   <hr>
  <div class="bold-text">
   <p>About Alexander</p>
   <p>Alexander is a undergraduate full stack software developer who is lingual in multiple web development technologies and frameworks.</p>
   <p>Being trained and self-taught examples of his code and final products can be seen through the links either on the top on the page on desktop or on the slide menu on mobile.</p>
   <p>Alexander also several years work experince working for Clyde Electronics, a web technical invoations company based in Glasgow, where he has worked on several projects which can be seen in the previous work and coding example pages.</p>
  </div>
  </div>
<!-- continues page conect from base.html -->
{% endblock %}
