{% extends 'base.html' %}

{% block content %}

  <div id="content-info">
   <img src="../static/landingpage/media/me.jpg" class="circle responsive-img page-img" align="center" alt="photo of Alexander"/>
   <hr>
   <p>About Alexander</p>
   <p>Alexander is a undergraduate full stack software developer who is lingual in multiple web development technologies and frameworks.</p>
   <p>Being trained and self-taught examples of his code and final products can be seen through the links either on the top on the page on desktop or on the slide menu on mobile.</p>
  </div>

{% endblock %}