{% extends 'base.php' %}

{% block content %}
<div id="work-info">
 <div class="content-info">
        <h1>Work</h1>
    <h2>inLineD</h2>
    <p> inLineD was a site developed by myself and three ther students during the third year of my bacholors degree, the objective of the site was to create a site which would create linear diagrams and would be targeted at academics looking to correlate data in this fashtion in an easier method.</p>
    <p>Technologies used :-  HTML, CSS, Javascript, Jquery and Bootstrap</p>
   </div>
 <div class="content-info">
    <h2>Dot-To-Dot</h2>
    <p>Dot-To-Dot was a website I worked on while working at Clyde Electronics in partnership with Studio Pop for the Dot-To-Dot project</p>
    <p>Technologues used :- HTML, CSS, SCSS, Typescript, AngularJS, NodeJS, PrimeNG, Bootstrap and Firebase</p>
 </div>
 <div class="content-info">
    <h2>Love Corporate Academy</h2>
    <p>Love Corporate Acadmey was a website I was lead developer on working to develop a secure online teaching environment for their customers. We developed this with moodle and the moove theme from which various sub-themes where developed for the site. </p>
    <p>Technologues used :- HTML, CSS, SCSS, PHP, MySQL, SQL, Mustache JS and Bootstrap.</p>
 </div>
 <div class="content-info">
     <h2>This Site</h2>
     <p>This portfolio website was designed and developed to be a gradute portfolio website as well as a self teaching project ot gain experince in the Django framework and googles materlise styling package</p>
     <p>Technologies used :- HTML, CSS, JS, Jquery, PHP, Materlise CSS, Python Django, </p>
</div>
{% endblock %}